{% extends 'base.html' %} {% load static %} {% block content %}





{% comment %} <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Filter By
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" name="semester" id="semester" value="" href="#">Semester</a></li>

    <li><a class="dropdown-item" name="professor" id="professor" value="" href="#">Professor</a></li>

    <li><a class="dropdown-item" name="position" id="position" value="" href="#">Position</a></li>
  </ul>
</div> {% endcomment %}


<form name="form" method="get" action="{% url 'filteredEmps' %}">
  <div class="p-3 text-bg-light">
    <label for="semester" style="margin-left:10px;"><b>Semester</b></label>
      <div class="search_categories" style="margin-left:10px;">
          <div class="select">
              <select name="semester_test" id="semester">
                  <option value="" selected="selected">All</option>   
                  <option value="Winter">Winter</option>   
                  <option value="Spring">Spring</option>   
                  <option value="Summer">Summer</option>   
                  <option value="Fall">Fall</option>   
              </select>
          </div>
      </div>

    <label for="year" style="margin-left:10px;"><b>Year</b></label>
      <div class="search_categories" style="margin-left:10px;">
          <div class="select">
            <select name="year_test" id="year">
              <option value="" selected="selected">All</option>   
              <option value="1901">1901</option>  
              <option value="1902">1902</option>    
              <option value="2019">2019</option>   
              <option value="2020">2020</option>   
              <option value="2021">2021</option>   
              <option value="2022">2022</option>   
          </select>
          </div>
      </div>

    {% comment %} <label for="profeessor" style="margin-left:10px;"><b>Professor</b></label>
      <div class="search_categories" style="margin-left:10px;">
          <div class="select">
            <select name="professor" id="professor">
              <option value="" selected="selected">All</option>
              {% for e in job %}:
                <option value=""> {{ e.professsor }}</option>
              {% endfor %}       
          </select>
          </div>
      </div> {% endcomment %}

    <label for="position" style="margin-left:10px;"><b>Position</b></label>
      <div class="search_categories" style="margin-left:10px;">
          <div class="select">
            <select name="position_type_test" id="position_type">
              <option value="" selected="selected">All</option>   
              <option value="RA">RA</option>   
              <option value="TA">TA</option>   
              <option value="Office">Office</option>   
              <option value="Student Instructor">Student Instructor</option>   
              <option value="Other">Other</option>   
          </select>
          </div>
      </div>

      <div style = "margin-left: 10px; margin-top: 20px">
        <button type="submit" class="btn btn-secondary"> Submit </button>
      </div>
  </div>
  {% csrf_token %}
</form>




   

<body style="height:1000px;">
    <table class="table">
        <thead>
<!-- <body style="height:1000px;"> -->
    <table class="table table-striped">
        <thead class="table-light">
          <tr>
            <th scope="col">Actions</th>
            <th></th>
            <th scope="col">BYU ID</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">International</th>
            <th scope="col">BYU Name</th>
            <th scope="col">Class Code</th>
            <th scope="col">Semester</th>
            <th scope="col">Year</th>
            <th scope="col">Position</th>
            <th scope="col">Hire Date</th>
            <th scope="col">Program</th>
            <th scope="col">Grad Tuition</th>
            <th scope="col">Name Changed</th>
            <th scope="col">Qualtrics</th>
            <th scope="col">Submitted</th>
            <th scope="col">Submitted Date</th>
            <th scope="col">Authorized</th>
            <th scope="col">Authorized Date</th>
            <th scope="col">Hours</th>
            <th scope="col">Pay Rate</th>
            <th scope="col">Last Pay Increase Date</th>
            <th scope="col">Terminated</th>
            <th scope="col">Termination Date</th>
            
          </tr>
        </thead>
        <tbody>
          {% for e in job %}
          <tr>
            <td><form action="{% url 'edit' j_id=e.id %}"><button  type="submit" class="btn btn-warning">Edit</button></form></td>
            <td><form action="{% url 'del' j_id=e.id %}"><button type="submit" class="btn btn-danger" >Delete</button></form></td>
            <td>{{e.employee.byu_id}}</td>
            <td>{{e.employee.f_name}}</td>
            <td>{{e.employee.l_name}}</td>
            <td>{{e.employee.gender}}</td>
            <td>{{e.employee.email}}</td>
            <td>{{e.employee.phone}}</td>
            <td>{{e.employee.international}}</td>
            <td>{{e.employee.byu_name}}</td>
            <td>{{e.course.course_code}}</td>
            <td>{{e.semester}}</td>
            <td>{{e.year}}</td>
            <td>{{e.position_type}}</td>
            <td>{{e.hire_date}}</td>
            <td>{{e.year_in_program}}</td>
            <td>{{e.pay_grad_tuition}}</td>
            <td>{{e.name_change_complete}}</td>
            <td>{{e.qualtrics}}</td>
            <td>{{e.submitted}}</td>
            <td>{{e.submitted_date}}</td>
            <td>{{e.authorized}}</td>
            <td>{{e.authorization_to_work_email_sent_date|default_if_none:""}}</td>
            <td>{{e.expected_hours_per_week}}</td>
            <td>${{e.payment.payrate}}</td>
            <td>{{e.payment.last_increase_date|default_if_none:""}}</td>
            <td>{{e.terminated|default_if_none:""}}</td>
            <td>{{e.termination_date|default_if_none:""}}</td>
            <!-- <td>{{e.notes|default_if_none:""}}</td> -->
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
<!-- </body> -->



{% endblock %}

